.faqs {
	margin: 50px 0;
	color: #000;
	font-size: 2em;
	&__left {
		&--heading {
			margin: 20px 40px 0 20px;
			font-size: 2.4em;
			font-weight: bold;
		}

		.line {
			margin: 20px 40px 0 20px;
			display: flex;
			flex-direction: row;
			align-items: start;
			color: #009eff;
			.lines {
				height: 3px;
				width: 40px;
				margin: 10px 7px 20px;
				text-decoration: line-through;
				background-color: #009eff;
			}
			.lines:nth-child(even) {
				width: 30px;
			}

			.section-name {
				font-weight: bold;
				font-size: 1em;
				position: relative;
				top: -4px;
				left: 15px;
			}
		}

		// .accordion {
		// 	margin: 0 20px 20px;
		// 	.accordion-item {
		// 		.accordion-header {
		// 			font-size: 2em;
		// 		}
		// 		.accordion-header:focus {
		// 			color: #009eff;
		// 		}
		// 		.accordion-button {
		// 			border-color: #fff;
		// 			font-size: 0.5em;
		// 			padding: 30px 0;
		// 			background-color: #fff;
		// 			outline: none;
		// 			border: none;
		// 		}

		// 		.accordion-button::after {
		// 			font-size: 2em;
		// 		}

		// 		.accordion-collapse {
		// 			outline: none;
		// 			border: none;
		// 		}

		// 		button {
		// 			font-weight: bold;
		// 		}

		// 		button:focus {
		// 			border: none;
		// 			background: transparent;
		// 			outline: none;
		// 			color: #009eff;
		// 		}

		// 		.accordion-body {
		// 			font-size: 0.8em;
		// 			color: #999;
		// 		}
		// 	}
		// }

		#sp-ea-344.sp-easy-accordion > .sp-ea-single {
			border: none;
			background-color: #fff;
			margin: 20px 0;
		}
		#sp-ea-344.sp-easy-accordion > .sp-ea-single > .ea-header a .ea-expand-icon.fa {
			position: relative;
			right: -95%;
		}

		#sp-ea-344.sp-easy-accordion > .sp-ea-single > .ea-header a {
			color: #009eff;
			font-size: 1.3em;
		}

		#sp-ea-344.sp-easy-accordion > .sp-ea-single > .sp-collapse > .ea-body {
			margin: 0 20px;
		}
	}

	&__right {
		&--heading {
			font-size: 1.2em;
			text-align: center;
			font-weight: bold;
		}

		.faqs-section {
			background-color: #fff;
			color: #fff;
			.form-select,
			.form-control {
				background-color: #f0f8f4;
			}
		}
	}
}
