.contact {
	color: #000;
	&__content {
		margin-top: 80px;
		&__top {
			display: flex;
			flex-direction: row;
			&__box {
				display: flex;
				flex-direction: row;
				font-size: 2em;
				padding: 0 20px;
				i {
					font-size: 2em;
				}

				&__text {
					padding-left: 30px;
					&--heading {
						font-size: 0.9em;
					}

					&--text {
						font-size: 1.1em;
					}
				}
			}
		}

		&--head-one {
			font-weight: bold;
			font-size: 4.5em;
			text-align: justify;
			margin: 50px 0 20px;
		}

		&__form {
			.input-box {
				padding: 0 10px;
				input,
				textarea {
					color: #000;
					border: none;
					border-bottom: 2px solid #999;
					font-size: 1.6em;
					padding: 20px;
				}

				textarea {
					margin-top: 40px;
					min-height: 10vh;
					max-height: 40vh;
				}

				.form-control::placeholder {
					font-size: 1em;
					font-weight: bold;
					color: #000;
				}

				input:focus,
				textarea:focus {
					border-bottom: 2px solid gold;
				}
			}

			.btn-box {
				.btn-nav {
					margin-top: 40px;
					@include main-btn-lg;
					font-size: 2em;
					font-weight: bold;
					width: 90%;
				}
			}
		}
	}

	&__google-map {
		iframe {
			margin-top: 80px;
			height: 60vh;
			width: 100%;
		}
	}
}
