@mixin main-btn {
	font-size: 0.8em;
	padding: 10px 40px;
	border-radius: 25px;
	background-color: gold;
	border: none;
	font-weight: bold;
	color: #000;
	width: 180px;

	.btn-text {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 0.9em;
	}
}

@mixin main-btn-lg {
	font-size: 0.8em;
	padding: 10px 40px;
	border-radius: 25px;
	background-color: gold;
	border: none;
	font-weight: bold;
	color: #000;
	width: 280px;

	.btn-text {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 0.9em;
	}
}

@mixin line {
	.line {
		display: flex;
		flex-direction: row;
		align-items: start;
		.lines {
			height: 3px;
			width: 40px;
			margin: 10px 7px 20px;
			text-decoration: line-through;
			color: #009eff;
			background-color: #009eff;
		}
		.lines:nth-child(even) {
			width: 30px;
		}

		.section-name {
			font-weight: bold;
			font-size: 2em;
			position: relative;
			top: -3px;
			left: 15px;
		}
	}
}
