*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	// font-family: 'Amatic SC', cursive;
	// font-family: 'Kaushan Script', cursive;
	font-family: 'Poppins', sans-serif;
	// background-color: #fff;
	color: #fff;
}
@import './nav';
@import './mixins';
@import './header';
@import './footer';
@import './section-baner';
@import './faqs';
@import './gallery';

.main {
	@import './feature';
	@import './about';
	@import './about-section';
	@import './services';
	@import './statics';
	@import './baner';
	@import './form';
}

@import './media-md';
@import './media-sm';
