*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	// font-family: 'Amatic SC', cursive;
	// font-family: 'Kaushan Script', cursive;
	font-family: 'Poppins', sans-serif;
	// background-color: #fff;
	color: #fff;
}
@import './mixins';
@import './nav';
@import './header';

.main {
	@import './feature';
	@import './about';
	@import './services';
	@import './statics';
}

@media (max-width: 1100px) {

.main {


	&__about-section {
		background-color: #fff;
		margin-top: 150px;
	
		&__content {
			&__left-section {
				&--img {
					text-align: center;
					width: 100%;
					height: 100%;
				}
			}
	
			&__right-section {
				padding: 40px 15px;
				color: #000;
				&--heading {
					font-weight: bold;
					font-size: 5.3em;
					line-height: 50px;
				}
	
				&--head {
					margin: 30px 0;
					font-size: 2.5em;
					color: #2646d4;
				}
	
				&--text {
					font-size: 2.6em;
				}
	
				.btn-nav {
					@include main-btn-lg;
					padding: 10px;
					margin: 20px 0;
					font-size: 2.6em;
				}
			}
		}
	}	

	&__services {
		background-color: #0a1026;
		&__content {
			&--section-heading {
				font-weight: bold;
				margin: 100px 0 100px;
				font-size: 6em;
				text-align: center;
			}
	
			&__box {
				width: 600px;
				height: 500px;
				margin-bottom: 100px;
				&__main {
					.card {
						border: none;
						
						.card-img-top {
							width: 100%;
							height: 100%
						}
						
						.card-body {
							color: #000;
							width: 100%;
							height: 100%;
							padding: 30px;
	
							.card-head {
								font-size: 3em;
								padding-bottom: 10px;
							}
	
							.card-text {
								font-size: 2em;
							}
	
							.btn-services {
								border-radius: 50%;
								background-color: gold;
								border: 7px #fff solid;
								font-weight: bold;
								color: #000;
								width: 100px;
								height: 100px;
								position: absolute;
								top: 50%;
								left: 80%;
								transform: translateY(50%);
								font-size: 3em;
								box-shadow: 0px 0px 33px 2px rgba(255, 180, 59, 1);
	
								.btn-text {
									display: flex;
									align-items: center;
									justify-content: center;
									flex-direction: column;
								}
							}
						}
					}
	
					.active-card {
						background-color: #009eff;
						color: #fff;
						cursor: pointer;
					}
				}
			}
		}
	}	


	&__statistic {
		color: #fff;
		font-size: 2em;
		
		&__hero-img {
			position: relative;
			height: 100%;
			width: 100%;
			background-image: url('../img/work2.jpg');
			background-position: center;
			background-size: cover;
			z-index: 0;
			
			&__content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&__left-section {
					margin-right: -20px;
					&__single-box {
						&--title {
							font-size: 3em;
						}
						
						&--text {
							font-size: 1.2em;
						}
						
						.line {
							.lines {
							}
							.lines:nth-child(even) {
							}
							
							.section-name {
							}
						}
					}
				}
				
				&__right-section {
					margin-left: -20px;
					&__single-box {
						&__box {
							position: relative;
							display: flex;
							flex-direction: column;
							align-items: start;
							justify-content: center;
							&--heading {
								font-size: 1.6em;
								.count {
								}
							}
							
							&--title {
								font-size: 1.2em;
								.count-js {
								}
								
								i {
									font-size: 1.8em;
								}
								
								.count-text {
									font-size: 1em;
								}
							}
							
						}
					}
				}
			}
		}
	}
	
}
}
