.footer {
        // background-color: #9aacbb;
        background-color: #0a1026;

        .box-one {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: start;
        }

        .box-three {
            display: flex;
            flex-direction: column;
        }

        .box-four {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }

        &__box {
            padding: 80px 40px 40px;
            font-size: 2em;
            font-family: Poppins;

            &--head {
                font-size: 1.1em;
                margin-bottom: 30px;
                font-weight: bold;
            }

            &--text {
                color: #a9b2d5;
                font-size: 0.8em;
                margin-bottom: 30px;
            }

            &__icons {
                a {
                    font-size: 1.6em;
                    color: #fff;
                    padding: 5px;
                }
            }

            &--single-link {
                font-size: .8em;
                text-decoration: none;
                color: #a9b2d5;
                
                i {
                    margin: 0 10px 10px 0;
                }
            }

            &--contact {
                color: #a9b2d5;
                text-decoration: none;
                font-size: .9em;

                i {
                    color: #009eff;
                    margin: 0 10px 10px 0;
                }

            }
            a:hover {
                color: #fff;
            }
        }

}